
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
#logo{
   height: 5em;
   width: 7em;
   padding-left: 2em;
}
.nav1{
    background-color: #E2A79D;
    height: 5em;
    width: 100% !important;
}
.textinnav{
    color: white;
    padding-right: 2em;
    font-size: 18px;
    font-weight: bold;
}
/* navbar text */
ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    }
    
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: #598099; }

.div-container{ height: fit-content;}
/* Profile image */
#imgheader{
    padding-top: 5em;
}
/* texts beside the profile picture */
.myname{
    font-family: 'Times New Roman', Times, serif;
    color: #818180;
    font-size: 3em;
}

.text-secondary1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-right: 1em !important;
    padding-bottom: 50px !important;
    color: #D48077;
   
}
.quote1{
    font-size: 30px;
    display: flex;
    color:#3E3D3D;
    padding-left: 3em !important;
    }
.quote2{
color: #818180;
    }

.quote3{
color: #D48077;
    }

.qutationcolor{
    color:#3E3D3D;
    
}


.im{
color: #D48077;
font-family: 'Times New Roman', Times, serif !important;
font-weight: bold !important;
font-size: 70px !important;
}
.imcontainer{
    padding-right: 100px !important;
}
/* cv button */
#cvbutton{
height: 60px !important;
border-radius: 15px;
padding-top: 11px !important;
margin-right: 10em;
}

.ContainerObjName{
display: flex;
flex-direction: column;
justify-content: center;
padding-top: 10em;
padding-right:50em;
}


 /* Containers background */
.backgroundnav{
    background-color: #F7F8F8;
    height: 40%;
    width: 40%;
    margin-top: 5em;
}
.titlecolor{
    color: #C66E6B;
}
/* EducationList */
.EducationList{
    display: flex;
    flex-direction: column;
    list-style: inside;
    color: #F9F9F9;
}
.backgroundedu{
    background-color: #E9B8B2 !important;
}
/* Projects Section */
.ProjectTitle{
    color: white;
}

.bg-image{
    background-image: url("images/Background.png");
    height: 90vh;
    width: 20vh;
}

.img-border{
    border: 8px solid #E8B9B2 !important;
}

/* Projects Section */
.card{
    background-color: rgba(255, 255, 255, 0) !important;
    border: #C66E6B !important;
}
/* Skills section */
#skills-container{
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 20px;
    
}
.skillsbackground{
    background-color: #e5c2b8;
}
.line{
    background-color: #E0A49E !important;
    width: 100% !important;
    height: 2em !important;
}
 .SkillsText{
    font-size: 5em;
    color: #C66E6B ;
    margin-left: 1em;
 }

.MyText{
    font-size: 5em;
    margin-left: 3em;
    
}


.footer{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows:repeat(4,1fr) ;
    background-color: #E0A49E;
    height: 20em;
    width: 100% !important;
}
.footer-text{
    color: aliceblue;
    font-size: 1em;
}
.icons-footer{
    height: 4em;
    width: 4em;
}
.create-text{
    font-size: 3em;
    color: white;
}

#emailsection{
    grid-column: 5/6;
    grid-row:2/3;
    justify-self:center;
    align-self: center;
}

#copy{
    grid-column: 4/6;
    grid-row:3/4;
    justify-self:start;
    align-self: center;
    font-size: 6px;
}

#githubsection{
    grid-column: 4/5;
    grid-row:2/3;
    justify-self:start;
    align-self: center;
}
#linkedinsection{
    grid-column: 4/5;
    grid-row:2/3;
    justify-self:end;
    align-self: center;
}

    @media screen and (min-device-width:662px) and (max-device-width:1024px){
        #emailsection{
            padding-left:50px;
        }
        #addresssection{
            padding-right:20px;
            grid-column: 2/3;
        }
        #create{
            grid-column: 2/4;
            justify-self: end;
        }
        #githubsection{
            grid-column: 3/4;
            grid-row: 3/4;
        }
        #linkedinsection{
            grid-column: 4/5;
            grid-row: 3/4;
        }
        #pic1inexp{
            height: 15em !important;
            width: 15em !important;
        }
        #pic2inexp{
            height: 15em !important;
            width: 15em !important;
            padding-right:8em !important;
        }
        #text-sizeinex{
            display: none;
        }
        .titlecolor{
         font-size: 2em !important;
         padding-right: 5em !important;
        }
        #imginskills{
        display: none;
        }
        #Myskills{
        padding-right:50em !important;
        }
    }

